body {
    background-image: url(./images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
}

.card-container {
    border: solid 1px black;
    width: 500px;
    height: 900px;
}

.card-container img {
    height: 200px;
}
.card-content {
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats-metric {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}