@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
    background-image: url(./images/bg-pattern-top.svg);
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
}

.card-container {
    width: 500px;
    height: 500px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.top-image {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.avatar {
    border: solid 5px white;
    border-radius: 100px;
    margin-top: -10%;
}

.user {
    text-align: center;
    gap: 10px;
}

.user span {
    color: hsl(0, 0%, 59%);
}

.line-break {
    width: 499px;
    margin-top: 8%;
    color: hsl(0, 0%, 59%);
}

.user-stats {
    width: 400px;
    height: 100px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    font-weight: 700;
}

.stats-metric {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -3%;
}

.stats-metric p,
.city {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

.followers, .likes {
    margin-left: -3%;
}

.photos {
    margin-right: -2%;
}